
@define-color bg-hover #1A1A28;
@define-color bg #1E1E2E;
@define-color blue #89B4FA;
@define-color sky #89DCEB;
@define-color red #F38BA8;
@define-color pink #F5C2E7;
@define-color lavender #B4BEFE;
@define-color rosewater #F5E0DC;
@define-color flamingo #F2CDCD;
@define-color fg #D9E0EE;
@define-color green #A6E3A1;
@define-color dark-fg #161320;
@define-color peach #FAB387;
@define-color border @lavender;
@define-color gray2 #6E6C7E;
@define-color black4 #575268;
@define-color black3 #302D41;
@define-color maroon #EBA0AC;

@define-color somelblue #74C7EC;
@define-color somegreen #A6E3A1;
@define-color somewhite #F4F4F4;
@define-color somepurple #CBA6F7;
@define-color someblue#89B4FA;
@define-color somered #F38BA8;
@define-color someblue2 #B4BEFE;


@define-color turq #15e6cd;		/*kinda green*/

@define-color richblack #040f16;
@define-color greenblue #2364aa;
@define-color yello #ffb30f;
@define-color redd #ed1c24;
@define-color seagreen #018e42;

@define-color cardinal #c5283d;		/* kinda red*/

@define-color orrange #FF521B;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  padding-bottom: 0px;
  color: white;
}

tooltip {
  background: @richblack;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid white;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0);
}


#custom-playerctl {

  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}



#pulseaudio.audio.muted,
#pulseaudio.microphone.source-muted {
  background-color: @redd;
  
}

#clock, #custom-arch-pill {
  background-color: white;
  color: black;
}

#memory,#cpu, #battery{
  background-color: @seagreen;
}
#pulseaudio,#bluetooth,#network,#backlight {
  background-color: @greenblue;
}
#network.disconnected,
#network.disabled {
  background-color: @redd;
}


#custom-arch-pill, #clock {
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  margin: 0px 8px 0px 8px;
}

#custom-arch-pill {
  padding-right: 14px;		/* cause the logo aint monospace */
}

#cpu,#network {
  border-radius: 8px 0px 0px 8px;
  padding: 0px 5px 0px 10px ;
}

#memory, #bluetooth, #backlight,#pulseaudio.audio {
  border-radius: 0px 0px 0px 0px;
  padding: 0px 5px 0px 5px ;
  border-left: 1px dotted white;
}

#battery,#pulseaudio.microphone {
  border-radius: 0px 8px 8px 0px;
  padding: 0px 10px 0px 5px ;
  border-left: 1px dotted white;
}

#battery.charging, #battery.plugged {
  color:black;
  background-color: @yello;
}




#battery.warning:not(.charging) {
  color: @redd;
  background-color: white;
}

#tray {
  margin: 0px 8px 0px 0px;
  padding:  0px 8px 0px 8px;
  border-radius: 8px;
  background-color: white;
}

#tray menu {
  color: white;
  background-color: @richblack;
  border-radius: 10px;
  padding: 10px;
}






