
@define-color main    #018AC6;
@define-color second  #040f16;
@define-color error   #ed1c24;
@define-color charge  #ffb30f;
@define-color wsact   #cddddd;
@define-color wsred   #FB3640;


* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  padding-bottom: 0px;
  color: @second;
}

window#waybar {
  background-color: rgba(0,0,0,0.3);
}

#window {
  background-color: blue;
  color: white;
}


#custom-playerctl {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @second;
  background-color: @main;
}



#pulseaudio.audio.muted,
#pulseaudio.microphone.source-muted {
  background-color: @error;
  
}

#clock, #custom-arch-pill, #workspaces {
  background-color: @main;
}

#memory,#cpu, #battery{
  background-color: @main;
}
#pulseaudio,#bluetooth,#network,#backlight {
  background-color: @main;
}
#network.disconnected,
#network.disabled {
  background-color: @error;
}


#custom-arch-pill, #clock {
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  margin: 0px 8px 0px 8px;
}

#custom-arch-pill {
  padding-right: 14px;		/* cause the logo aint monospace */
}

#cpu,#network {
  border-radius: 8px 0px 0px 8px;
  padding: 0px 5px 0px 10px ;
}

#memory, #bluetooth, #backlight,#pulseaudio.audio {
  border-radius: 0px 0px 0px 0px;
  padding: 0px 5px 0px 5px ;
  border-left: 1px dotted @second;
}

#battery,#pulseaudio.microphone {
  border-radius: 0px 8px 8px 0px;
  padding: 0px 10px 0px 5px ;
  border-left: 1px dotted @second;
}




#battery.charging, #battery.plugged {
  color:black;
  background-color: @charge;
}
#battery.warning:not(.charging) {
  color: @error;
  background-color: @main;
}

#tray {
  margin: 0px 8px 0px 0px;
  padding:  0px 8px 0px 8px;
  border-radius: 8px;
  background-color: @main;
  color:@second;
}



#tray menu{
  background-color: @second;
  border-radius: 10px;
  padding: 10px;
}
#tray menu label{
  color: @main;
}


tooltip {
  background-color: @second;
  border-radius: 8px;
  padding: 12px;
  border: 1px dotted @main;
}
tooltip label{
  color: @main;
}

#workspaces button{
  padding: 0px 8px 0px 8px;
  border-radius: 8px;
}
#workspaces {
  border-radius: 8px;
  margin: 0px 8px 0px 8px;
}


#workspaces button.active {
  background-color: @wsact;
}

#workspaces button.urgent {
  background-color: @wsred;
}
